.asset-room-amenity {
    position: relative;
}

.asset-room-amenity .detail {
    display: inline-block;
    margin-right: 8px;
}

.asset-room-amenity .detail img {
    height: 20px;
}

.asset-room-amenity .detail img.reverse {
    transform: scaleX(-1);
}

.asset-room-amenity .detail img.merge-1 {
    margin-left: -6px;
}
.asset-room-amenity .detail img.merge-2 {
    margin-left: -3px;
}

.asset-room-amenity .detail span {
    font-size: 16px;
    letter-spacing: -1px;
    color: #a7a7a7;
}