.default .content .map {
    position: relative;
    width: 100%;
    height: 800px;
    box-shadow: 0 2px 3px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
    transition: all 0.8s;
}

.default .content .map.mode-list {
    margin-top: -808px;
}

.default .content .map .location {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40px;
    z-index: 1;
    opacity: 0.75;
    transform: translate(-50%, -100%);
}

.default .content .filters {
    position: relative;
    z-index: 2;
}

.default .content .filters .date-selector {
    display: grid;
    grid-template-columns: 6fr 1fr;
    width: 50%;
    background-color: #ffffff;
    z-index: 1;
    position: absolute;
    top: -32px;
    left: 18%;
    bottom: auto;
    box-shadow: 0 2px 3px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
    border-radius: 3px;
}

.default .content .filters .date-selector .viewer {
    padding: 0 8px;
    margin: 0 8px;
    border: none;
    outline: 0;
    background-color: transparent;
    height: 56px;
    font-size: 1em;
    color: #8c8c8c;
    cursor: default;
}

.default .content .filters .date-selector .selector {
    position: relative;
    cursor: pointer;
    border-radius: 3px;
    background-color: #399aff;
    margin: 4px;
    transition: all 0.4s;
    outline: none;
    border: none;
}

.default .content .filters .date-selector .selector:hover {
    box-shadow: 0 2px 3px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
}

.default .content .filters .date-selector .selector .calendar-logo {
    position: absolute;
    width: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.default .content .filters .search-properties-button {
    position: absolute;
    top: -56px;
    left: calc(68% + 16px);
    z-index: 1;
    height: 56px;
}

.default .content .listing {
    visibility: hidden;
    transition: 1s all;
}

.default .content .listing.mode-list, .default .content .listing.mode-hybrid {
    margin-top: 56px;
    visibility: visible;
}