.default {
    background-color: transparent;
}

.default .content {
    position: relative;
    width: 1180px;
    margin: auto;
    padding: 24px 0;
}

.default .content .booking-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 16px 16px;
    align-items: center;
    margin-bottom: 16px;
}

.default .content .booking-grid-container .booking-grid-item {
    display: flex;
    vertical-align: center;
    align-items: center;
    height: 100%;
    position: relative;
    background-color: #ffffff;
    border-radius: 3px;
    box-shadow: 0 2px 3px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
}

.default .content .booking-grid-container .booking-grid-item .calendar, .default .content .booking-grid-container .booking-grid-item .filters, .default .content .booking-grid-container .booking-grid-item .geo-query {
    margin: auto;
}

.default .content .booking-grid-container .booking-grid-item-calendar {
    grid-column-start: 1;
    grid-column-end: 3;
}

.default .content .booking-grid-container .booking-grid-item-calendar .rdr-Calendar {
    display: inline-block !important;
    margin: 0 24px;
}

.default .content .booking-grid-container .booking-grid-item .filters-results .filters-logo {
    display: block;
    margin: auto;
    width: 32px;
}

.default .content .booking-grid-container .booking-grid-item .filters-results .filters-text {
    margin: 16px 16px 24px 16px;
    color: #a7a7a7;
    font-size: 1em;
    line-height: 1.5;
    text-align: left;
}

.default .content .booking-grid-container .booking-grid-item .filters-results .filters-text .filter-region, .default .content .booking-grid-container .booking-grid-item .filters-results .filters-text .filter-range {
    text-decoration: underline;
    text-decoration-color: #399aff;
    margin: 0 4px 0 0;
}

.default .content .booking-grid-container .booking-grid-item-search {
    width: 100%;
}

.default .content .booking-grid-container .booking-grid-item-search .button {
    margin: auto;
    height: 100%;
    width: 100%;
    box-shadow: none;
}

.default .content .booking-grid-container .booking-grid-item-geo-query {
    grid-column-start: 1;
    grid-column-end: 3;
}

.default .content .booking-grid-container .booking-grid-item-geo-query .geo-query {
    border-radius: 3px;
    padding: 6px;
    width: 100%;
}

.default .content .booking-grid-container .booking-grid-item-geo-query .geo-query input {
    width: 100%;
    padding: 0 8px;
    margin-right: 8px;
    border: none;
    outline: 0;
    background-color: transparent;
    display: inline-block;
    height: 32px;
    font-size: 0.9em;
    color: #8c8c8c;
}

.default .content .booking-grid-container .booking-grid-item-map {
    grid-column-start: 1;
    grid-column-end: 4;
}

.default .content .booking-grid-container .booking-grid-item-map {
    position: relative;
    height: 600px;
    padding: 0;
}

.default .content .booking-grid-container .booking-grid-item-map .location {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 48px;
    z-index: 999;
    opacity: 0.75;
    transform: translate(-50%, -100%);
}

.default .content .booking-grid-container .booking-grid-item-map .mapboxgl-map {
    border-radius: 3px;
}

.default .content .booking-grid-container .booking-grid-item .check-date .days, .default .content .booking-grid-item .check-date .month, .default .content .booking-grid-item .check-date .year {
    font-size: 0.9em;
    color: #8c8c8c;
    padding: 2px;
}

.default .content .booking-grid-container .booking-grid-item .check-date .day {
    font-size: 1.6em;
    padding: 0 4px 0 2px;
}