.property-route{
    position: relative;
}

.property-route .content {
    padding: 24px;
}

.property-route .content .property-detail {
    position: relative;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 3px;
    box-shadow: 0 2px 3px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
    padding: 16px;
}

.property-route .content .property-detail .sticky-container{
    width: 100px;
    left: -132px;
    top: 86px;
    position: absolute;
}

.property-route .content .property-detail .sticky-container .sticky-button{
    width: 100%;
    margin: 4px 0;
}

.property-route .content .property-detail .main-info .name {
    font-size: 48px;
    color: #595959;
    margin-bottom: 16px;
}

.property-route .content .property-detail .main-info .description {
    color: #a7a7a7;
    font-size: 18px;
    line-height: 1.5;
    text-align: justify;
    margin-bottom: 24px;
}

.property-route .content .property-detail .amenities .title {
    font-size: 36px;
    color: #595959;
    margin-bottom: 16px;
}

.property-route .content .property-detail .amenities .list {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 24px;
}

.property-route .content .property-detail .amenities .list .amenity {
    margin: 8px 4px;
    height: 24px;
}

.property-route .content .property-detail .amenities .list .amenity img {
    display: inline-block;
    height: 100%;
    margin-left: 8px;
}

.property-route .content .property-detail .amenities .list .amenity span {
    display: inline-block;
    line-height: 24px;
    font-size: 18px;
    margin: 0 4px;
    vertical-align: bottom;
}

.property-route .content .property-detail .gallery .title {
    font-size: 36px;
    color: #595959;
    margin-bottom: 16px;
}

.property-route .content .property-detail .gallery .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    margin-bottom: 24px;
}

.property-route .content .property-detail .gallery .grid img {
    width: 100%;
}

.property-route .content .property-detail .location .title {
    font-size: 36px;
    color: #595959;
    margin-bottom: 16px;
}

.property-route .content .property-detail .location .map {
    position: relative;
    width: 100%;
    height: 400px;
    box-shadow: 0 2px 3px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
    transition: all 0.8s;
    margin-bottom: 16px;
}

.property-route .content .property-detail .location .map .mapboxgl-marker {
    pointer-events: none;
}

.property-route .content .property-detail .assets .title {
    font-size: 36px;
    color: #595959;
    margin-bottom: 16px;
}