.route-container {
    position: relative;
    background-color: transparent;
}

.header-spacer{
    position: relative;
    height: 70px;
}

.route-content {
    position: relative;
    width: 1180px;
    margin: auto;
}